<div class=" col-12" *ngIf = "products?.length > 0; else Loading">
    <div class=" card m-1 p-1" *ngFor = "let prod of products">
        <h4>
            {{prod.name}}
            <span class=" badge badge-success float-right">{{prod.price | currency: "R": "symbol"}}</span>
        </h4>
        <div class=" card-text">
            {{prod.description}}
            <button class=" btn btn-primary btn-sm float-right" (click)="addToCart(prod)">
                + Add to cart
            </button>
         <!--<store-test [product]="prod"></store-test>--> 
        </div>
    </div>
</div>
<ng-template #loading>
    <div class=" text-center text-danger col-12">
        Loading...
    </div>
</ng-template>